* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 393px;
    margin: 15px auto;
    font-family: "Alexandria", sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #2E5062, #5DA3C8);
    color: white;
    align-items: center;
}

.header>*:not(:last-child) {
    margin: 0 0.4vw;
}

.header>p {
    font-family: "Alegreya SC", sans-serif;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
}

.animation {
    height: 70px;
    width: 97%;
    margin: 7px auto;
    background-color: bisque;
}

ul {
    list-style: none;
}

/* ---HERO ------ */

.hero {
    padding-top: 16px;
    padding-bottom: 19px;
}

.hero-img {
    display: block;
    max-width: 64px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 17px;
}

.hero-title {
    font-weight: 700;
    font-size: 32px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

.hero-text {
    font-weight: 700;
    font-size: 18px;
    color: #4890cf;
    text-align: center;
}

/* ---ABOUT ------ */

.about {
    padding-top: 19px;
    padding-bottom: 18px;
    text-align: center;

}

.about-title {
    font-weight: 700;
    font-size: 17px;
    color: #000;
    margin-bottom: 6px;
}

.about-text {
    font-weight: 400;
    font-size: 11px;
    color: #000;
    max-width: 342px;
    margin: 0 auto;
}

.about-text:not(:last-child) {
    margin-bottom: 13px;
}

/* ---WITHUS ------ */

.withus {
    padding-top: 18px;
    padding-bottom: 42px;
}

.withus-title {
    font-weight: 700;
    font-size: 17px;
    color: #000;
}

.withus-list {}

.withus-item {}

.withus-item-img {}

.withus-item-title {}

.withus-item-text {}

/* ---BUSINESS ------ */

.business {
    padding-top: 42px;
    padding-bottom: 60px;
}

.business-container {
    max-width: 359px;
    margin: 0 auto;
}

.bussiness-title {
    font-weight: 700;
    font-size: 17px;
    color: #000;
    text-align: center;
}

.bussiness-list {
    display: flex;
    gap: 16px;
}

.bussiness-item {
    /* width: calc((359px - 2*16px)/3); */
    width: 109px;
}

.bussiness-item-img {
    display: block;
    margin: 0 auto;
    width: 95px;
    height: auto;
    margin-bottom: 4px;
}

.bussiness-item-title {
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    color: #000;
    margin-bottom: 1px;
}

.bussiness-item-text {
    font-weight: 300;
    font-size: 6px;
    text-align: center;
    color: #000;
}

/* ---JOIN ------ */

.join {
    padding-top: 60px;
    padding-bottom: 60px;
}

.join-title {
    font-weight: 700;
    font-size: 15px;
    color: #000;
    text-align: center;
    margin-bottom: 7px;
}

.join-text {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #000;
    max-width: 286px;
    margin: 0 auto;
    margin-bottom: 36px;
}

.join-btn {
    display: block;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    padding: 13px 49px;
    margin: 0 auto;
    background: #529895;
}

/* ---TEAM ------ */

.team {
    padding-top: 60px;
    padding-bottom: 79px;
}

.team-title {}

.team-list {}

.team-item {}

.team-item-img {}

.team-item-title {}

.team-item-text {}

.team-advisory-title {}

/* ---QUESTION ------ */

.question {
    padding-top: 79px;
    padding-bottom: 126px;
}

.question-title {}






.footer {
    background: linear-gradient(321deg, rgba(46, 80, 98, 1) 0%, rgba(93, 163, 200, 1) 100%);
    color: #ffffff;
}

.contacts {
    width: 100%;
    text-align: center;
    padding-top: 1.5vw;
}

.contact-info_container {
    margin: 1vw auto 3vw;
}

.contact-info {
    font-size: small;
}

.tel-info {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.7vw;
    text-align: center;
}

.copyright {
    font-size: 0.5rem;
    text-align: center;
    padding-bottom: 1vw;
}